name: Image Build

on:
  workflow_dispatch:
  push:
    branches:
      - main

env:
  IMAGE_PREFIX: ghcr.io/puffserver-rocks/website
  PLATFORMS: linux/amd64
  COSIGN_EXPERIMENTAL: 1

jobs:
  build:
    name: Build Images
    runs-on: ubuntu-latest
    permissions:
      contents: "write"
      id-token: "write"
      packages: "write"
    steps:
      # - name: Free Disk Space
      #   uses: endersonmenezes/free-disk-space@v2
      #   with:
      #     remove_android: true
      #     remove_dotnet: true
      #     remove_haskell: true
      #     remove_tool_cache: true
      #     remove_swap: true
      #     remove_packages: "azure-cli google-cloud-cli microsoft-edge-stable google-chrome-stable firefox postgresql* temurin-* *llvm* mysql* dotnet-sdk-*"
      #     remove_packages_one_command: true
      #     remove_folders: "/usr/share/swift /usr/share/miniconda /usr/share/az* /usr/share/glade* /usr/local/lib/node_modules /usr/local/share/chromium /usr/local/share/powershell"

      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Setup Buildx
        uses: docker/setup-buildx-action@v3

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          tags: |
            type=raw,value=latest,priority=1000
            type=ref,event=tag,priority=900
            type=raw,value=${{ github.sha }},priority=800
          images: |
            ${{ env.IMAGE_PREFIX }}

      - name: Build and push Docker image
        id: build
        uses: docker/build-push-action@v6
        with:
          context: .
          pull: true
          file: Dockerfile
          platforms: ${{ env.PLATFORMS }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=local,src=/home/runner/.${{ env.IMAGE_PREFIX }}.buildx-cache
          cache-to: type=local,dest=/home/runner/.${{ env.IMAGE_PREFIX }}.buildx-cache
