name: Image Build

on:
  workflow_dispatch:
  push:
    branches:
      - main
    tags:
      - '*'

env:
  IMAGE: ghcr.io/puffserver-rocks/www-puffserver-rocks
  PLATFORMS: linux/amd64
  COSIGN_EXPERIMENTAL: 1

jobs:
  build:
    name: Build Images
    runs-on: ubuntu-latest
    permissions:
      contents: "write"
      id-token: "write"
      packages: "write"
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Setup Buildx
        uses: docker/setup-buildx-action@v3

      - name: Extract metadata (tags, labels) for Docker
        id: docker_meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.IMAGE }}
          tags: |
            type=ref,event=branch
            type=ref,event=tag
            type=ref,event=pr
            type=sha,format=long
            type=raw,value=latest,priority=900,enable={{is_default_branch}}

      - name: Build and Push Operator Image
        uses: docker/bake-action@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          push: true
          source: .
          files: |
            ./docker-bake.hcl
            cwd://${{ steps.docker_meta.outputs.bake-file }}
          targets: build
    